@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt_sans/ptsans.woff") format("woff"),
       url("../fonts/pt_sans/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt_sans/ptsansbold.woff") format("woff"),
       url("../fonts/pt_sans/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "symbols-sedona";
  src: url("../fonts/symbols_sedona/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols_sedona/symbols-sedona.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::before,
[class*=" icon-"]::after {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  line-height: 1em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;

  speak: none;
}

.icon-facebook::before { content: "\66"; }
.icon-twitter::before { content: "\74"; }
.icon-up-dir::before { content: "\25b2"; }
.icon-down-dir::before { content: "\25bc"; }
.icon-star::before { content: "\2605"; }
.icon-check-off::before { content: "\2610"; }
.icon-check-on::before { content: "\2611"; }
.icon-calendar::before { content: "\e800"; }
.icon-plus::after { content: "\e801"; }
.icon-minus::before { content: "\e802"; }
.icon-youtube::before { content: "\f39e"; }
