.clearfix::after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}

.color1 {
	background-color: #D8BFD8;
}

.color2 {
	background-color: #DDA0DD;
}

.color3 {
	background-color: #EE82EE;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h2,
h3 {
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 30px;
	line-height: 24px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
}


.wrapper {
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.main-header {
	position: relative;
	font-weight: bold;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 50%;
	z-index: 10;
	margin-left: -69px;
	font-size: 0;
}

.main-nav ul {
	padding: 17px 0;
	margin: 0;
	list-style: none;
}

.main-nav li {
	float: left;
	width: 20%;
	padding-left: 6%;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav .align-right {
	padding-left: 0;
	padding-right: 6%;
	text-align: right;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}


.intro {
	position: relative;
	height: 508px;
	padding-top: 76px;
	text-align: center;
	background: url(../img/index_bg_sedona.jpg) no-repeat;
	background-position: center;
}

.intro-border {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url(../img/index_bg_border.png) no-repeat;
	background-position: bottom center;
	background-size: contain;
}

.content-info {
	padding: 60px 6%;
	padding-bottom: 48px;
	line-height: 26px;
	text-align: center;
	background-color: #ffffff;
}

.content-info .title {
	margin-bottom: 30px;
	font-size: 21px;
	color: #000000;
	font-weight: bold;

}

.block-img .box-title,
.block-img .picture {
	float: left;
}

.block-img .box-title {
	width: calc(100% / 3);
	height: 256px;
	padding: 54px 5%;
	color: #ffffff;
	text-align: center;
	background-color: #81b3d2;
}

.box-title h3 {
	color: #ffffff;
}

.box-title p {
	margin-top: 22px;
}

.block-img .picture {
	width: calc(100% - (100% / 3));
	height: 256px;
}

.block-img .img1 {
	background: url(../img/index_bg_1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-img .img2 {
	background: url(../img/index_bg_2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-info .info,
.block-desc .desc {
	float: left;
	width: calc(100% / 3);
	min-height: 330px;
	padding: 54px 5%;
	text-align: center;
}

.block-desc .desc {
	min-height: 256px;
}

.block-info .info {
	background-color: #ffffff;
}

.block-desc .desc {
	background-color: #eeeeee;
}

.block-info .info p,
.block-desc .desc p {
	margin-top: 22px;
}

.block-search {
	position: relative;
	padding-top: 10px;
	text-align: center;
	background-color: #ffffff;
}

.block-search h2 {
	margin: 48px 0 32px;
}

.block-search p {
	margin-bottom: 48px;
}

.block-search a {
	display: block;
	width: 568px;
	height: 86px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 86px;
	color: #ffffff;
	text-decoration: none;
	background-color: #766357;
}

.search-form {
	position: absolute;
	top: 291px;
	left: 50%;
	width: 568px;
	height: 0;
	margin-left: -284px;
	overflow: hidden;
	background-color: #ffffff;
}

.search-form.open {
	height: 395px;
}

.search-form label {
	display: block;
}

.search-form input {
	display: inline-block;
	background-color: #f2f2f2;
}

.search-form .search {
	display: block;
}

.block-map {
	height: 593px;
	background: url(../img/index_bg_map.jpg) no-repeat;
	background-position: bottom center;
}


.main-footer {
	width: 100%;
	padding: 36px 0;
	text-align: center;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-position {
	position: absolute;
	bottom: 0;
}

.footer-info,
.icon-social,
.footer-academy {
	float: left;
	width: calc(100% / 3);
}

.footer-info {
	font-size: 21px;
	font-weight: bold;
}

.icon-social {
	font-size: 0;
}

.icon-social .social-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.icon-social .social-btn:last-child {
	margin-right: 0;
}

.icon-twitter::before,
.icon-facebook::before,
.icon-youtube::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	font-size: 23px;
	color: #ffffff;
	text-decoration: none;
}

.footer-academy p,
.footer-academy img {
	display: inline-block;
	vertical-align: middle;
}

/* === Hotels.html === */

.column {
	float: left;
	width: 50%;
}

.block-filter,
.block-sort {
	padding: 0 6%;
}

.block-filter {
	height: 217px;
	background-color: #00CED1;
}

.block-sort {
	min-height: 86px;
	line-height: 86px;
	background-color: #FFFACD;
	border-bottom: 1px solid #e5e5e5;
}

.block-sort .sort-result,
.sort-list,
.sort-list ul,
.sort-list li,
.icon-top,
.icon-bottom {
	display: inline-block;
	vertical-align: top;
}

.block-sort .sort-icon {
	text-align: right;
}

.block-list-hotel .row-hotel {
	padding: 10px 6%;
	border-bottom: 1px solid #e5e5e5;
}

.block-list-hotel img,
.block-list-hotel .hotel-desc,
.hotel-desc p {
	display: inline-block;
	vertical-align: top;
}

.block-list-hotel .rating {
	text-align: right;
}

.block-list-hotel .stars li {
	display: inline-block;
	vertical-align: top;
}
