.clearfix::after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}


.color1 {
	background-color: #D8BFD8;
}

.color2 {
	background-color: #DDA0DD;
}

.color3 {
	background-color: #EE82EE;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h2,
h3 {
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 30px;
	line-height: 24px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
}


.wrapper {
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.main-header {
	position: relative;
	font-weight: bold;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 50%;
	z-index: 10;
	margin-left: -69px;
	font-size: 0;
}

.main-nav ul {
	padding: 17px 0;
	margin: 0;
	list-style: none;
}

.main-nav li {
	float: left;
	width: 20%;
	padding-left: 6%;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav .align-right {
	padding-left: 0;
	padding-right: 6%;
	text-align: right;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}


.intro {
	position: relative;
	height: 508px;
	padding-top: 76px;
	text-align: center;
	background: #81b3d2 url(../img/index_bg_sedona.jpg) no-repeat;
	background-position: center;
}

.intro-border {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url(../img/index_bg_border.png) no-repeat;
	background-position: bottom center;
	background-size: contain;
}

.content-info {
	padding: 10px 0;
	line-height: 26px;
	text-align: center;
	background-color: #ffffff;
}

.content-info .title {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
}

.content-info p:last-child {
	margin-bottom: 38px;
}

.block-img {
	height: 256px;
	overflow: hidden;
	background-color: #81b3d2;
}

.block-img .box-title,
.block-img .picture {
	float: left;
}

.block-img .box-title {
	width: calc(100% / 3);
	padding: 0 5%;
	color: #ffffff;
	text-align: center;
	background-color: #81b3d2;
}

.box-title h3 {
	margin-top: 55px;
	margin-bottom: 23px;
	color: #ffffff;
}

.box-title p {
	margin: 22px 0;
}

.box-title p:last-child {
	margin-bottom: 51px;
}

.block-img .picture {
	width: calc(100% - (100% / 3));
	height: 256px;
}

.block-img .img1 {
	background: url(../img/index_bg_1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-img .img2 {
	background: url(../img/index_bg_2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-info .info,
.block-desc .desc {
	float: left;
	width: calc(100% / 3);
	padding: 0 5%;
	text-align: center;
}

.block-info .info {
	padding: 0 4%;
	background-color: #ffffff;
}

.block-info h3 {
	position: relative;
	margin-top: 162px;
	margin-bottom: 24px;
}

.block-info p {
	margin: 22px 0;
}

.block-info p:last-child {
	margin-bottom: 81px;
}

.info-house::before,
.info-food::before,
.info-souvenirs::before {
	content: "";
	position: absolute;
	top: -102px;
	left: 50%;
	width: 76px;
	height: 80px;
	transform: translateX(-50%);
	background: url(../img/index_icon.png) no-repeat;
	background-position: 0 0;
}

.info-food::before {
	background-position: -94px 0;
}

.info-souvenirs::before {
	background-position: -182px 0;
}

.block-desc .desc {
	background-color: #eeeeee;
}

.block-desc h3 {
	margin-top: 48px;
	margin-bottom: 23px;
}

.block-desc p {
	margin: 22px 0;
}

.block-desc p:last-child {
	margin-bottom: 58px;
}

.block-search {
	position: relative;
	padding-top: 10px;
	text-align: center;
	background-color: #ffffff;
}

.block-search h2 {
	margin: 48px 0 32px;
}

.block-search p {
	margin-bottom: 48px;
}

.block-search .btn-search {
	display: block;
	width: 568px;
	height: 86px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 86px;
	color: #ffffff;
	text-decoration: none;
	background-color: #766357;
	cursor: pointer;
}

.search-form {
	position: absolute;
	top: 291px;
	left: 50%;
	width: 568px;
	height: 0;
	padding: 0 55px;
	margin-left: -284px;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in;
}

.search-form.open {
	height: 395px;
	padding: 55px;
}

.search-form label {
	height: 38px;
	margin-bottom: 29px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-align: left;
}

.search-form input {
	width: 346px;
	height: 38px;
	padding-left: 15px;
	padding-right: 41px;
	border: 0;
	outline: 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	background-color: #f2f2f2;
}

.search-form .date-of-stay {
	position: relative;
	display: block;
}

.search-form .date-of-stay span {
	float: left;
	line-height: 38px;
}

.search-form .date-of-stay input {
	float: right;
}

.date-of-stay.icon-calendar::before {
	position: absolute;
	top: 50%;
	right: 10px;
	margin: 0;
	font-size: 21px;
	color: #c2c2c2;
	transform: translateY(-50%);
}

.search-form .number-of-people {
	padding: 0;
	margin-bottom: 55px;
}

.number-of-people.adult {
	float: left;
}

.number-of-people.kid {
	float: right;
}

.adult .indent {
	margin-right: 37px;
}

.kid .indent {
	margin-right: 26px;
}

.number-of-people input {
	width: 114px;
	padding: 0 35px;
	text-align: center;
}

.kid input {
	margin-right: -1px;
}

.number-of-people .position {
	position: relative;
}

.number-of-people .icon-minus::before {
	position: absolute;
	top: 50%;
	left: 14px;
	margin: 0;
	transform: translate(0, -50%);
	font-size: 14px;
	color: #a9a9a9;
	font-weight: normal;
	text-decoration: none;
}

.number-of-people .icon-plus::after {
	position: absolute;
	top: 50%;
	right: 14px;
	margin: 0;
	transform: translate(0, -50%);
	font-size:14px;
	color: #a9a9a9;
	font-weight: normal;
	text-decoration: none;
}

.search-form .btn-search-form {
	width: 458px;
	height: 58px;
	line-height: 58px;
	background-color: #81b3d2;
}

.block-map {
	height: 593px;
	background: #81b3d2 url(../img/index_bg_map.jpg) no-repeat;
	background-position: bottom center;
}


.main-footer {
	width: 100%;
	padding: 36px 0;
	font-size: 0;
	text-align: center;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-position {
	position: absolute;
	bottom: 0;
}

.footer-info,
.icon-social,
.footer-academy {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% / 3);
}

.footer-info {
	font-size: 21px;
	font-weight: bold;
}

.icon-social .social-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.icon-social .social-btn:last-child {
	margin-right: 0;
}

.icon-twitter::before,
.icon-facebook::before,
.icon-youtube::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	font-size: 23px;
	color: #ffffff;
	text-decoration: none;
}

.footer-academy p,
.footer-academy img {
	display: inline-block;
	vertical-align: middle;
}

.footer-academy p {
	margin-right: 8px;
	font-size: 14px;
}

/* === Hotels.html === */

.column {
	float: left;
	width: 50%;
}

.block-filter,
.block-sort {
	padding: 0 6%;
}

.block-filter {
	padding-top: 30px;
	background: #81b3d2 url(../img/hotels_bg_block-filter.jpg) no-repeat;
	background-position: center;
}

.block-sort {
	min-height: 86px;
	line-height: 86px;
	background-color: #FFFACD;
	border-bottom: 1px solid #e5e5e5;
}

.block-sort .sort-result,
.sort-list,
.sort-list ul,
.sort-list li,
.icon-top,
.icon-bottom {
	display: inline-block;
	vertical-align: top;
}

.block-sort .sort-icon {
	text-align: right;
}

.block-list-hotel .row-hotel {
	padding: 30px 6%;
	border-bottom: 1px solid #e5e5e5;
}

.block-list-hotel img,
.block-list-hotel .hotel-desc,
.hotel-desc p {
	display: inline-block;
	vertical-align: top;
}

.block-list-hotel .rating {
	text-align: right;
}

.block-list-hotel .stars li {
	display: inline-block;
	vertical-align: top;
}



.filter-cost {
	display: inline-block;
  width: 330px;
  text-align: left;
}

.filter-cost p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 163px;
  padding: 6px 0;
  padding-left: 53px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
  cursor: pointer;
}

.price-controls input {
  width: 76px;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 20px;
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  margin-left: 0;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-sizing: content-box;
  background-color: #ababab;
  cursor: pointer;
}

.toggle:hover {
	background-color: #1c4f80;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.filter-cost a {
	display: block;
	width: 136px;
	height: 36px;
	padding: 6px 0;
	margin: 31px auto;
	border: 2px solid #ffffff;
  border-radius: 2px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
