* {
	margin: 0;
	padding: 0;
	border: 0;
}

.clearfix::after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}


body {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h2,
h3 {
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 30px;
	line-height: 24px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
}


.wrapper {
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}


.main-header {
	position: relative;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 50%;
	margin-left: -69px;
}

.main-nav ul {
	list-style: none;
}

.main-nav li {
	float: left;
	width: 20%;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav a {
	display: block;
	padding: 17px 0;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

.main-nav a:hover {
	background-color: #fdd;
}


.intro {
	min-height: 508px;
	padding-top: 76px;
	text-align: center;

	background-color: #AFEEEE;
}

.content-info {
	min-height: 216px;
	text-align: center;

	background-color: #F0E68C;
}

.block-img .box-title,
.block-img .picture {
	float: left;
}

.block-img .box-title {
	width: calc(100% / 3);
	min-height: 256px;
	background-color: #81b3d2;
}

.block-img .picture {
	width: calc(100% - (100% / 3));
	min-height: 256px;
	background-color: #fdd;
}

.block-info .info,
.block-desc .desc {
	float: left;
	width: calc(100% / 3);
	min-height: 330px;
}

.color1 {
	background-color: #D8BFD8;
}

.color2 {
	background-color: #DDA0DD;
}

.color3 {
	background-color: #EE82EE;
}

.block-search {
	min-height: 291px;
	background-color: #9ACD32;
}

.search-form {
	width: ;
}

.block-map {
	height: 594px;
	background: url(../img/index_bg_map.jpg) no-repeat;
}


.main-footer {
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-position {
	position: absolute;
	bottom: 0;
}

.footer-size {
	float: left;
	width: calc(100% / 3);
}

.footer-academy p,
.footer-academy img {
	display: inline-block;
}
