.clearfix::after {
  content: "";
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

h2,
h3 {
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 30px;
	line-height: 24px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
}


.wrapper {
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.main-header {
	position: relative;
	font-weight: bold;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 50%;
	z-index: 10;
	margin-left: -69px;
	font-size: 0;
}

.main-nav ul {
	padding: 17px 0;
	margin: 0;
	list-style: none;
}

.main-nav li {
	float: left;
	width: 20%;
	padding-left: 6%;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav .align-right {
	padding-left: 0;
	padding-right: 6%;
	text-align: right;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #b2b2b2;
}

.main-nav .nav-activ a {
	color: #766357;
}

.main-nav .nav-activ a:hover {
	color: #604e43;
}

.main-nav .nav-activ a:active {
	color: #d6d0cc;
}


.intro {
	position: relative;
	height: 508px;
	padding-top: 76px;
	text-align: center;
	background: #81b3d2 url(../img/index_bg_sedona.jpg) no-repeat;
	background-position: center;
}

.intro-border {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url(../img/index_bg_border.png) no-repeat;
	background-position: bottom center;
	background-size: contain;
}

.content-info {
	padding: 10px 0;
	line-height: 26px;
	text-align: center;
	background-color: #ffffff;
}

.content-info .title {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	word-spacing: 5px;
}

.content-info p:last-child {
	margin-bottom: 38px;
}

.block-img {
	height: 256px;
	overflow: hidden;
	background-color: #81b3d2;
}

.block-img .box-title,
.block-img .picture {
	float: left;
}

.block-img .box-title {
	width: calc(100% / 3);
	padding: 0 5%;
	color: #ffffff;
	text-align: center;
	background-color: #81b3d2;
}

.box-title h3 {
	margin-top: 55px;
	margin-bottom: 23px;
	color: #ffffff;
}

.box-title p {
	margin: 22px 0;
}

.box-title p:last-child {
	margin-bottom: 51px;
}

.block-img .picture {
	width: calc(100% - (100% / 3));
	height: 256px;
}

.block-img .real-town {
	background: url(../img/index_bg_1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-img .devil-bridge {
	background: url(../img/index_bg_2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.block-info .info,
.block-desc .desc {
	float: left;
	width: calc(100% / 3);
	padding: 0 5%;
	text-align: center;
}

.block-info .info {
	padding: 0 4%;
	background-color: #ffffff;
}

.block-info h3 {
	position: relative;
	margin-top: 162px;
	margin-bottom: 24px;
}

.block-info p {
	margin: 22px 0;
}

.block-info p:last-child {
	margin-bottom: 81px;
}

.info-house::before,
.info-food::before,
.info-souvenirs::before {
	content: "";
	position: absolute;
	top: -102px;
	left: 50%;
	width: 76px;
	height: 80px;
	transform: translateX(-50%);
	background: url(../img/index_icon.png) no-repeat;
	background-position: 0 0;
}

.info-food::before {
	background-position: -94px 0;
}

.info-souvenirs::before {
	background-position: -182px 0;
}

.block-desc .desc {
	background-color: #eeeeee;
}

.block-desc h3 {
	margin-top: 48px;
	margin-bottom: 23px;
}

.block-desc p {
	margin: 22px 0;
}

.block-desc p:last-child {
	margin-bottom: 58px;
}

.block-search {
	position: relative;
	padding-top: 10px;
	text-align: center;
	background-color: #ffffff;
}

.block-search h2 {
	margin: 48px 0 32px;
}

.block-search p {
	margin-bottom: 48px;
}

.block-search .btn-search {
	display: block;
	width: 568px;
	height: 86px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 86px;
	color: #ffffff;
	text-decoration: none;
	background-color: #766357;
	cursor: pointer;
}

.search-form {
	z-index: 20;
	position: absolute;
	top: 290px;
	left: 50%;
	width: 568px;
	height: 0;
	padding: 0;
	margin-left: -284px;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in;
}

.search-form.open {
	height: 395px;
	padding: 55px 0;
}

.search-form .row {
	padding: 0 55px;
}

.search-form label,
.search-form input {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.search-form label {
	float: left;
	padding: 6px 0;
	margin-bottom: 29px;
}

.search-form input {
	float: right;
	width: 346px;
	padding: 6px 0;
	padding-left: 15px;
	padding-right: 41px;
	border: 0;
	outline: 0;
	background-color: #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.search-form input::-webkit-input-placeholder {color: #000000;}
.search-form input::-moz-placeholder {color: #000000;}
.search-form input::placeholder {color: #000000;}

.search-form .icn-calendar {
	position: absolute;
	top: 50%;
	right: 0;
	width: 40px;
	height: 38px;
	transform: translateY(-50%);
	background: url(../img/index_icon_form.png) no-repeat;
	background-position: -61px -2px;
	cursor: pointer;
}

.search-form .icn-calendar:hover {
	background-position: -61px -41px;
}

.search-form .icn-calendar:active {
	background-position: -61px -79px;
}


.search-form .icon-calendar:hover::before {
	color: #000000;
}

.search-form .icon-calendar:active::before {
	color: #81b3d2;
}

.search-form .number-of-people {
	float: left;
	width: 50%;
}

.search-form .input-container {
	position: relative;
	float: right;
}

.number-of-people label {
	margin-bottom: 54px;
}

.number-of-people input {
	width: 114px;
	padding: 6px 35px;
	text-align: center;
}

.number-of-people .inp-adults {
	margin-right: 3px;
}

.number-of-people .children {
	margin-left: 52px;
}

.search-form .icn-minus,
.search-form .icn-plus {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 38px;
	transform: translateY(-50%);
	cursor: pointer;
	background: url(../img/index_icon_form.png) no-repeat;
	background-position: -1px -2px;
}

.search-form .icn-minus {
	left: 0;
}

.search-form .icn-minus:hover {
	background-position: -1px -41px;
}

.search-form .icn-minus:active {
	background-position: -1px -79px;
}

.search-form .icn-plus {
	left: 84px;
	background-position: -30px -2px;
}

.search-form .icn-plus:hover {
	background-position: -30px -41px;
}

.search-form .icn-plus:active {
	background-position: -30px -79px;
}

.search-form .btn-search-form {
	width: 458px;
	height: 58px;
	line-height: 58px;
	background-color: #81b3d2;
}

.search-form .btn-search-form:hover {
	background-color: #669ec0;
}

.search-form .btn-search-form:active {
	color: rgba(250, 250, 250, 0.3);
	background-color: #5496bd;
}


.block-map {
	height: 593px;
}


.main-footer {
	width: 100%;
	padding: 36px 0;
	font-size: 0;
	text-align: center;
	background-color: rgba(254, 254, 254, 0.9);
}

.footer-position {
	position: absolute;
	bottom: 0;
}

.footer-info,
.icon-social,
.footer-academy {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% / 3);
}

.footer-info {
	font-size: 21px;
	font-weight: bold;
}

.icon-social .social-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
}

.icon-social .social-btn:hover {
	background-color: #669ec0;
}

.icon-social .social-btn:active {
	background-color: #5496bd;
}

.icon-social .social-btn:active::before {
	color: rgba(250, 250, 250, 0.3);
}


.icon-social .social-btn:last-child {
	margin-right: 0;
}

.icon-twitter::before,
.icon-facebook::before,
.icon-youtube::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
	font-size: 23px;
	color: #ffffff;
	text-decoration: none;
}

.footer-academy p,
.footer-academy img {
	display: inline-block;
	vertical-align: middle;
}

.footer-academy p {
	margin-right: 8px;
	font-size: 14px;
}

.footer-academy a {
	display: inline-block;
	vertical-align: middle;
	width: 115px;
	height: 40px;
	background: url(../img/footer_logo.png) no-repeat;
	background-position: -10px -10px;
}

.footer-academy a:hover {
	background-position: -10px -58px;
}

.footer-academy a:active {
	background-position: -10px -106px;
}

/* === Hotels.html === */

.column {
	float: left;
	width: 50%;
}

.block-filter,
.block-sort {
	padding: 0 6%;
}

.block-filter {
	padding-top: 30px;
	background: #81b3d2 url(../img/hotels_bg_block-filter.jpg) no-repeat;
	background-position: center;
}

.filter-infrast,
.filter-hotel-types {
	display: inline-block;
	vertical-align: top;
}

.filter-infrast {
	margin-right: 112px;
}

.filter-infrast p,
.filter-hotel-types p {
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.filter-infrast label,
.filter-hotel-types label {
	display: block;
	margin-bottom: 24px;
	color: #ffffff;
	cursor: pointer;
}

.filter-infrast input[type="checkbox"],
.filter-hotel-types input[type="checkbox"] {
	display: none;
}

.filter-infrast input[type="checkbox"] + label::before,
.filter-hotel-types input[type="checkbox"] + label::before {
	content: "\2610";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin-right: 19px;
	font-size: 26px;
	line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
}

.filter-infrast input[type="checkbox"]:checked + label::before,
.filter-hotel-types input[type="checkbox"]:checked + label::before {
	content: "\2611";
}

.block-filter .disabled {
	opacity: 0.2;
	cursor: default;
}




.block-list-hotel .row-hotel {
	padding: 30px 6%;
	border-bottom: 1px solid #e5e5e5;
}

.block-list-hotel img,
.block-list-hotel .hotel-desc,
.hotel-desc p {
	display: inline-block;
	vertical-align: top;
}

.block-list-hotel .hotel-desc {
	position: relative;
}

.block-list-hotel img {
	margin-right: 26px;
}

.hotel-desc h3,
.hotel-desc p {
	margin-bottom: 10px;
}

.hotel-desc h3:hover {
	color: #81b3d2;
}

.hotel-desc h3:active {
	color: #b2b2b2;
}

.hotel-desc a {
	text-decoration: none;
}

.hotel-desc p {
	display: inline-block;
	width: 111px;
}

.hotel-desc p:last-of-type {
	margin-left: 2px;
}

.buttons a {
	display: inline-block;
	padding: 3px 17px;
	color: #ffffff;
	text-decoration: none;
	background-color: #81b3d2;
}

.buttons a:hover {
	background-color: #669ec0;
}

.buttons a:active {
	color: rgba(250, 250, 250, 0.3);
	background-color: #5496bd;
}

.buttons a:last-child {
	margin-left: 1px;
	background-color: #766357;
}

.buttons a:last-child:hover {
	background-color: #604e43;
}

.buttons a:last-child:active {
	background-color: #503e33;
}

.block-list-hotel .rating {
	text-align: right;
}

.rating .stars {
	margin-bottom: 41px;
}

.block-list-hotel .stars li,
.rating .amount {
	display: inline-block;
	vertical-align: top;
}

.block-list-hotel .stars li::before {
	margin: 0;
	font-size: 19px;
	color: #81b3d2;
}

.rating .amount {
	padding: 3px 17px;
	color: #666666;
	background-color: #f2f2f2;
}



.block-sort {
	padding-top: 27px;
	padding-bottom: 27px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 0;
}

.sort-result,
.sort-list,
.sort-list ul,
.sort-list li,
.inline-column {
	display: inline-block;
	vertical-align: middle;
}

.block-sort .inline-column {
	width: 50%;
}

.block-sort .sort-result {
	margin-right: 48px;
	font-size: 21px;
	font-weight: bold;
}

.block-sort .sort-list {
	font-size: 12px;
}

.block-sort .sort-list ul {
	padding: 0;
	margin: 0;
	margin-top: -4px;
	list-style: none;
}

.block-sort .sort-list li {
	margin-right: 20px;
}

.block-sort .sort-list li:first-child {
	margin-left: 40px;
}

.block-sort .sort-list a {
	color: #cccccc;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.block-sort .sort-list a:hover {
	color: #81b3d2;
}

.block-sort .sort-list a:active {
	color: #000000;
	border-bottom: none;
}

.sort-list .list-active a {
	color: #81b3d2;
	border-bottom: none;
}

.block-sort .sort-icon {
	text-align: right;
}

.sort-icon .icon-up-dir::before,
.sort-icon .icon-down-dir::before {
	width: 14px;
	margin: 0;
	font-size: 23px;
	line-height: 20px;
	color: #cccccc;
	text-decoration: none;
}

.sort-icon .icon-down-dir::before {
	margin-left: 6px;
}

.sort-icon .icon-active::before {
	color: #81b3d2;
}

.sort-icon .icon-up-dir:hover::before,
.sort-icon .icon-down-dir:hover::before {
	color: #000000;
}

.sort-icon .icon-up-dir:active::before,
.sort-icon .icon-down-diractive::before {
	color: #81b3d2;
}






/* === Filter === */

.filter-cost {
	display: inline-block;
  width: 330px;
  text-align: left;
}

.filter-cost p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 163px;
  padding: 6px 0;
  padding-left: 53px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
  cursor: pointer;
}

.price-controls input {
  width: 76px;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 20px;
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  margin-left: 0;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 100%;
  box-sizing: content-box;
  background-color: #ababab;
  cursor: pointer;
}

.toggle:hover {
	background-color: #1c4f80;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.filter-cost a {
	display: block;
	width: 136px;
	height: 36px;
	padding: 6px 0;
	margin: 31px auto;
	border: 2px solid #ffffff;
  border-radius: 2px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

.filter-cost a:hover {
	color: #000000;
	background-color: #ffffff;
}
